Scoreboard/bin/Debug/net8.0/appsettings.Development.json
Scoreboard/obj/project.assets.json
Scoreboard/obj/project.nuget.cache
Scoreboard/obj/Scoreboard.csproj.nuget.dgspec.json
Scoreboard/obj/Scoreboard.csproj.nuget.g.props
Scoreboard/obj/Scoreboard.csproj.nuget.g.targets
Scoreboard/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Scoreboard/obj/Debug/net8.0/apphost
Scoreboard/obj/Debug/net8.0/Scoreboard.AssemblyInfo.cs
Scoreboard/obj/Debug/net8.0/Scoreboard.AssemblyInfoInputs.cache
Scoreboard/obj/Debug/net8.0/Scoreboard.assets.cache
Scoreboard/obj/Debug/net8.0/Scoreboard.csproj.CoreCompileInputs.cache
Scoreboard/obj/Debug/net8.0/Scoreboard.csproj.FileListAbsolute.txt
Scoreboard/obj/Debug/net8.0/Scoreboard.dll
Scoreboard/obj/Debug/net8.0/Scoreboard.GeneratedMSBuildEditorConfig.editorconfig
Scoreboard/obj/Debug/net8.0/Scoreboard.genruntimeconfig.cache
Scoreboard/obj/Debug/net8.0/Scoreboard.GlobalUsings.g.cs
Scoreboard/obj/Debug/net8.0/Scoreboard.MvcApplicationPartsAssemblyInfo.cache
Scoreboard/obj/Debug/net8.0/Scoreboard.pdb
Scoreboard/obj/Debug/net8.0/staticwebassets.build.json
Scoreboard/obj/Debug/net8.0/staticwebassets.development.json
Scoreboard/obj/Debug/net8.0/staticwebassets.pack.json
Scoreboard/obj/Debug/net8.0/ref/Scoreboard.dll
Scoreboard/obj/Debug/net8.0/refint/Scoreboard.dll
Scoreboard/obj/Debug/net8.0/staticwebassets/msbuild.build.Scoreboard.props
Scoreboard/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.Scoreboard.props
Scoreboard/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.Scoreboard.props
Scoreboard/obj/Debug/net8.0/staticwebassets/msbuild.Scoreboard.Microsoft.AspNetCore.StaticWebAssets.props
Scoreboard/bin/Debug/net8.0/appsettings.json
Scoreboard/bin/Debug/net8.0/Scoreboard
Scoreboard/bin/Debug/net8.0/Scoreboard.deps.json
Scoreboard/bin/Debug/net8.0/Scoreboard.dll
Scoreboard/bin/Debug/net8.0/Scoreboard.pdb
Scoreboard/bin/Debug/net8.0/Scoreboard.runtimeconfig.json
Scoreboard/bin/Debug/net8.0/Scoreboard.staticwebassets.runtime.json
.vscode/settings.json
Scoreboard/appsettings.Development.json
